<!DOCTYPE html>
<html>
<head>
    <title>Select Table</title>
</head>
<body>
    <h1>Select a Table to <%= action %></h1>
    <ul>
        <% tables.forEach(table => { %>
            <li><a href="/<%= action %>/<%= table.name %>"><%= table.name %></a></li>
        <% }) %>
    </ul>
    <a href="/">Back to Menu</a>
</body>
</html>
